.flex-container {
  display: flex;
  
  &.flex-column {
    flex-direction: column;
  }
  
  &.flex-row {
    flex-direction: row;
    
    &.flex-justify-content-center {
      justify-content: center;
    }
  }
}

#left-column {
  flex-grow: 1;
  padding: 15px;
  
  > div {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

#right-column {
  flex-grow: 6;
  padding: 15px;
  
  > div {
    margin: 15px;
  }
}

#fuel-stint-times {
  margin-left: 10%;
  margin-right: 10%;
  flex-grow: 1;
}

#overall-event-config {
  margin-bottom: 15px;
}

#time-of-day-lap-factors {
  flex-grow: 3;
  
  td.show-reset > label.mdc-text-field > i {
    visibility: visible;
  }
  
  td > label.mdc-text-field > i {
    visibility: hidden;
  }
}

.card-title {
  text-align: center;
  font-size: large;
}

.mdc-card-wrapper__text-section {
  padding: 16px;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  background-color: var(--mdc-theme-primary);
  border-color: var(--mdc-theme-primary);
}