@import "variables";

html, body, .wrapper {
  height: 100%;
  margin: 0;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: auto;
  padding: $gutter;
}

footer {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 48px;
}

.flex-container {
  display: flex;
  
  &.flex-column {
    flex-direction: column;
  }
  
  &.flex-row {
    flex-direction: row;
    
    &.flex-justify-content-center {
      justify-content: center;
    }
  }
}

#left-column {
  flex-grow: 1;
  padding: $gutter;
  
  > div {
    margin-bottom: $gutter;
    margin-top: $gutter;
  }
}

#right-column {
  flex-grow: 6;
  padding: $gutter;
  
  > div {
    margin: $gutter;
  }
}

#fuel-stint-times {
  margin-left: 10%;
  margin-right: 10%;
  flex-grow: 1;
}

#overall-event-config {
  margin-bottom: $gutter;
}

#time-of-day-lap-factors {
  flex-grow: 3;
  margin-right: $gutter;
  
  td.show-reset > label.mdc-text-field > i {
    visibility: visible;
  }
  
  td > label.mdc-text-field > i {
    visibility: hidden;
  }
}

#driver-lap-factors {
  flex-grow: 2;
  margin-left: $gutter;
  
  p {
    text-align: center;
  }
}

.card-title {
  text-align: center;
  font-size: large;
}

.mdc-card-wrapper__text-section {
  padding: 16px;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  background-color: var(--mdc-theme-primary);
  border-color: var(--mdc-theme-primary);
}

@import "src/schedule/schedule";
@import "src/landing/landing";